# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# uv virtual environment
.uv/

# Code editor settings
.vscode/
.zed/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ruff
.ruff_cache/

# Virtual environments
.venv/

# Agent files
.ai/
.agents/
